body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 30px;
	line-height:30px;
	font-weight:bold;
	background-color: white;
}

a {
	color:blue;
	background-color: yellow;
	flex-wrap:flex;
	
}

#star-five {
	margin: 100px 0;
	position: relative;
	display: block;
	color: black;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid black;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
  }
  #star-five:before {
	border-bottom: 80px solid black;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
  }
  #star-five:after {
	position: absolute;
	display: block;
	color: black;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid black;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
  }

.amazonme {
	font-size:35px;
	flex-wrap:wrap;
	display: flex;

}

.bubble {
	padding: 25px;
	background-color: blue;
	color:yellow;
	border-radius: 50px;
	font-size: 15px;
	text-shadow: yellow;

}

.inner {
	padding:25px;
}

.footer {
	display:flex;
	flex-wrap:wrap;
	position:fixed;
	width:100%;
	bottom:0px;
	left:0px;
	font-size:20px;
}

.picture {
	flex-wrap:wrap;
	width:20%;
}

.spread {
	flex-wrap:wrap;
	margin-right:0px;
	position:absolute;

}

.backgroundinfo {
	font-size:20px;
	margin-bottom:2%;
	margin-left:2%;
	margin-right:2%;
	text-align: justify;
	line-height:normal;
}

.backgroundinfo.bg {
	background-color:tomato;
	padding:50px;
	border-radius: 40px;
	box-shadow: 10px 20px yellow;
	

}
.right {
	display:flex;
	flex-wrap:flex;
	position:fixed;
	left:50%;
}

.left {
	width:50%;
}

.container {
	display:flex;
	flex-wrap:wrap;
	margin:20px;
}

.item {
	background-color:black;
	color:white;
	width:50%;
	border-radius:50px;
	transition:2s;
	display:table;
	
}

#parent {
	display:table;
}

#child {
	display:table-cell;
	vertical-align:middle;
}



@keyframes animateitem {
	0% {
		margin-top:100vh;
	}

	100% {
		margin-top: 0vh; 
	}
}

@keyframes sideways {
	0% {
		margin-left:0px;
	}

	100% {
		margin-left:50px 
	}
}

.item {
	animation:
		animateitem 15s linear infinite alternate,
	 	sideways 5s ease-in-out infinite alternate;
}

.item a {
	text-decoration: none;
	color:white;
}

.item.largetext {
	font-size:100px;
	height:350px;
	width:60%;
	line-height: 100px;
	text-align: center;

}

.item.largetext.geographics {
	height:130px;
	width:800px;
}

.item.left25 {
	margin-left:25%;
	width:20%;
}

.item.lisa {
	font-size:45px;
	width:355px;
	line-height: 45px;
	text-align:center;
}

.item.joel {
	font-size:25px;
	width:200px;
	line-height:30px;
	text-align: center;
}

.item.kirrily {
	font-size:35px;
	width:400px;
	line-height:38px;
	text-align: center;
}

.item.ben {
	font-size:50px;
	text-align:center;
	line-height:50px;
	width:490px;
	margin-left:25%;
}

.item.annmarie {
	font-size:70px;
	width:750px;
	text-align:center;
	line-height:70px;
	margin-left:25%;
}

.item.amelia {
	width:400px;
	font-size: 60px;
	line-height: 60px;
}

.item.elena {
	font-size:50px;
	width:500px;
	text-align:center;
	line-height:50px;
	margin-right:50%;
}

.item.lucinda {
	font-size:90px;
	width:800px;
	text-align: center;
	line-height: 100px;

}

.item.maddy {
	font-size:45px;
	width:300px;
	text-align: center;
	line-height:50px;
}

.item.lifi {
	font-size:40px;
	width:420px;
	text-align: center;
	line-height: 40px;
}

.item.stephanie {
	width:230px;
	font-size:40px;
	line-height: 40px;

}

.item.tessa {
	width:650px;
	font-size: 70px;
	line-height: 70px;
}

.item.madeleine {
	width:400px;
	font-size: 50px;
	line-height: 50px;
}

.item.linda {
	width:350px;
	font-size: 55px;
	line-height: 55px;
}

.item.junyi {
	width:400px;
	font-size: 80px;
	line-height: 80px;
}

.item.yuke {
	width:500px;
	font-size: 45px;
	line-height: 45px;
}

.item.madeleine.next {
	color:yellow;
	background-color: blue;
	width:500px;
	font-size: 30px;

}


.stroke {
	border-color:black;
	background-color: white;
	color:black;
	font-size:50px
}

.picture {
	position:fixed;
	flex-wrap: wrap;
	margin:right;
	size:5px;

}