body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 30px;
	line-height:30px;
	font-weight:bold;
	background-color: whitesmoke;
}

a {
	color:blue;
	background-color: yellow;
	flex-wrap:flex;
}


.item.bigtext.aoltitle {
	position:absolute;
	color:white;
	background-color: blue;
	font-size:60px;
	line-height: 100px;
	font-family: arow;
	width:550px;
}

.thelma {
	font-size: 20px;
	line-height: 20px;
	flex-wrap:wrap;
	display: flex;
	margin: auto;
}

.history {
	font-size:20px;
	line-height: 20px;
	flex-wrap:wrap;
	display:flex;
	justify-content: space-between;
	margin-left:auto;
	margin-right: auto;
}

.weirdest {
	font-size: 20px;
	line-height: 20px;
	flex-wrap:wrap;
	display: flex;
	margin-left:auto;
	margin-right: auto;
	justify-content: space-between;
}

.timestamp {
	font-style: italic;
	margin-right:auto;
	margin-left:auto;
	flex-wrap:wrap;
	display:flex;
	justify-content: space-between;
	font-size:13px
}

.stars {
	flex-wrap:wrap;
	display: flex;
}

#star-five {
	margin: 50px 0;
	position: relative;
	display: block;
	color: black;
	width: 0px;
	height: 0px;
	border-right: 50px solid transparent;
	border-bottom: 35px solid black;
	border-left: 50px solid transparent;
	transform: rotate(35deg);
  }
  #star-five:before {
	border-bottom: 40px solid black;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -22.5px;
	left: -32.5px;
	display: block;
	content: '';
	transform: rotate(-35deg);
  }
  #star-five:after {
	position: absolute;
	display: block;
	color: black;
	top: 3px;
	left: -52.5px;
	width: 0px;
	height: 0px;
	border-right: 50px solid transparent;
	border-bottom: 35px solid black;
	border-left: 50px solid transparent;
	transform: rotate(-70deg);
	content: '';
  }

.amazonme {
	font-size:35px;
	flex-wrap:wrap;

}

.tool {
	font-size:20px;
	flex-wrap: wrap;
	display: flex;
}

.aol {
	background-color: lightgrey;
	stroke:black;
	color:red;
	padding:15px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px black;
}

.filter {
	background-color: lightgrey;
	stroke: black;
	color:green;
	padding:15px;
	font-size: 23px;
	font-weight: normal;
	box-shadow: 3px 3px 3px 3px grey;
	margin-left: 84%;
	border-radius: 10px;
	margin-bottom: 5px;
}

.results {
	font-size: 20px;
	text-align: center;
	margin-left: 10%;
	color:grey;
	font-weight: normal;
}

.bubble {
	color:black;
	background-color: lime;
	flex-wrap:wrap;
	display: flex;
	border-radius: 10px;

}


.review {
	font-size:15px;
}

.inner {
	padding:25px;
}

.footer {
	display:flex;
	flex-wrap:wrap;
	position:fixed;
	width:100%;
	bottom:0px;
	left:0px;
	font-size:20px;
}


.backgroundinfo {
	font-size:15px;
	margin-bottom:5%;
	margin-left:5%;
	margin-right:5%;
	margin-top:3%;
	text-align: justify;
	line-height:normal;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: normal;
}

.backgroundinfo em {
	font-style:italic;
}


.backgroundinfo p {
	text-indent: 60px;
}

.chapter {
	font-family: arow;
	font-size: 15px;
	color:white;
	margin-left:5%;
	margin-top: 5%;
}
.contain {
	display: flex;
	flex-wrap: wrap;
}

.leftscroll {
	width:30%;
	height:60vh;
	background-color: black;
	overflow:scroll;
	padding: 20px;
	border-radius:10px;
	margin-bottom: 40px;

}

.rightscroll {
	width:70%;
	height:60vh;
	background-color: whitesmoke;
	overflow:scroll;
	padding:20px;
	border-radius: 10px;
	margin-bottom: 40px;
}

.right {
	display:flex;
	flex-wrap:flex;
	position:fixed;
	left:50%;
}

.left {
	width:50%;
}

.container {
	display:flex;
	flex-wrap:wrap;
	margin:20px;
}

.item {
	background-color:black;
	color:white;
	width:50%;
	border-radius:50px;
	display:table;
	
}

#parent {
	display:table;
}

#child {
	display:table-cell;
	vertical-align:middle;
}



@keyframes animateitem {
	0% {
		margin-top:100vh;
	}

	100% {
		margin-top: 0vh; 
	}
}

@keyframes sideways {
	0% {
		margin-left:0px;
	}

	100% {
		margin-left:50px 
	}
}

.item {
	animation:
		animateitem 12s linear infinite alternate,
	 	sideways 4s ease-in-out infinite alternate;
}

.item a {
	text-decoration: none;
	color:white;
}

.item.largetext {
	font-size:100px;
	height:350px;
	width:60%;
	line-height: 100px;
	text-align: center;

}

.item.largetext.geographics {
	height:130px;
	width:800px;
}

.item.left25 {
	margin-left:25%;
	width:20%;
}

.item.lisa {
	font-size:45px;
	width:320px;
	line-height: 45px;
	text-shadow: 3px 3px 3px grey;
}

.item.joel {
	font-size:25px;
	width:200px;
	line-height:30px;
	text-shadow: 2px 2px 2px red;
}

.item.kirrily {
	font-size:45px;
	width:400px;
	line-height:43px;
	text-shadow: 2px 2px 2px blue;
}

.item.ben {
	font-size:50px;
	line-height:50px;
	width:490px;
	text-shadow: 2px 2px 2px green;
}

.item.annmarie {
	font-size:70px;
	width:800px;
	line-height:70px;
	text-shadow: 2px 2px 2px yellow;
}

.item em {
	font-style:italic;	
	font-size:60%;
}

.item.joel em {
	font-size:70%;
}


.item.amelia {
	width:400px;
	font-size: 60px;
	line-height: 60px;
	text-shadow: 2px 2px 2px red;
}

.item.elena {
	font-size:35px;
	width:320px;
	line-height:40px;
	text-shadow: 2px 2px 2px grey;
}

.item.maddy {
	font-size:35px;
	width:450px;
	line-height:40px;
	text-shadow: 2px 2px 2px red;
}

.item.lifi {
	font-size:60px;
	width:400px;
	line-height: 50px;
	text-shadow: 2px 2px 2px blue;
}

.item.stephanie {
	width:300px;
	font-size:40px;
	line-height: 40px;
	text-shadow: 2px 2px 2px yellow;

}

.item.junyi {
	width:400px;
	font-size: 70px;
	line-height: 60px;
	text-shadow: 2px 2px 2px green;
}

.item.grace {
	width:380px;
	font-size:60px;
	line-height:65px;
	text-shadow: 2px 2px 2px grey;
}

.promo {
	width:100%;
	height:60vh;
	background-color: lime;
	position:relative;
	margin: auto;

}

.gallery {
	position:absolute;
	flex-wrap:wrap;
	display: flex;
	position:relative;
}

.item.book {
	width:810px;
	padding: 20px;
	position:relative;

}

.rightside {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height:120vh;
	background-color: lime;
	margin: auto;

	

}

@font-face {
	font-family: arow;
	src: url(fonts/AROW-Bold.otf);