body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 28px;
	font-weight:bolder;
	color:white;
	background-color:black;
}

img {
	width: 100%;
}


.bubble {
	color:white;
	border-radius:45px;
	padding:20px;
	transition:2s;
}

.person1 {
	background-color:blue;
}

.person1:hover {
	background-color:#F8C93A;
}

.person2 {
	background-color:violet
}

.person2:hover {
	background-color:limegreen;
}

.left {
	width:400px;
	margin-right:auto;
	
}

.right {
	width:400px;
	margin-left:auto;
}
.small {
	width:120px;
	margin-right:auto;

}

.short {
	width:250px;
	margin-right:auto;
	
}

.medium {
	width:310px;
	margin-right:auto;
}

.lil {
	width:120px;
	margin-left:auto;
}

.little {
	width:250px;
	margin-left:auto;
}

.med {
	width:310px;
	margin-left:auto;
}

.ily {
	width:180px;
	margin-left:auto;
}

.ilu {
	width:180px;
	margin-right:auto;
}

.subtitle {
	font-size:16px;
	color:blue;
	
	
}

.other {
	font-size: 16px;
	color:violet;
	text-align:left;

}

.error {
	color:red;
}

.timestamp {
	text-align:center;
	margin-top:10px;
	font-weight: normal;
	font-size: 80%;
}

.contact {
	border-radius: 75px;
	background-color: violet;
	text-align:center;
	margin:15px;
	width:120px;
	padding:15px;
	position:fixed;
	font-weight:normal;
}

.home a {
	color:lime;
	text-decoration: none;
}

.button {
	position:fixed;
	right:15px;
	bottom:15px;
	background-color:blue;
	padding:15px;
	border-radius:75px;
	text-emphasis-color:white;
	text-align:center;
	text-decoration:none;
	font-weight:normal;
}

.sendbutton a {
	color:#F8C93A;
	text-decoration: none;
}


.homepage {
	text-align:center;
	margin-top:255px;
	font-size:300%;
}

.homepage a {
	text-decoration:none;
	color:white;
	padding:15px;
	font-style:bold;
	font-size:300px;
	letter-spacing: -20px;
	text-align:center;
	
}



.blink a {
	animation: line 1s infinite;
	color:black;
	font-size:100px;
	font-style:bold;
}

.line {
	color:black;
	text-align:right;
	font-size:00px;
	font-style:normal;
	text-align:end;
	max-height: 50px;
	

}

@keyframes line {
	0% {
		background-color:black;

	}
50% {
		background-color:  white;
}

	100% {
		background-color: black;
	}
	
}

.homepage:hover {
	background-color: blue;
	transition:1s;
	border-radius:70%;
}

.pronounce {
	color:white;
	text-align:center;
}

.definition {
	color:white;
	text-align:center;
	padding:15px;
	font-style:italic;
	letter-spacing: 10px;

}

.definition:hover {
	background-color:violet;
	transition:1s;
	border-radius:20%;
	height:10px;

}

.example {
	color:white;
	text-align:center;
	font:message-box;
	margin-bottom:20px
}

.button a {
	color:#F8C93A;
	text-decoration: none;

	
}

.page {
	width:80%;
	margin-top: 50px;
	margin:auto;
	margin-bottom:50px;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size:20px;
	
}

.page p {
	margin-top: 15px;
	text-indent:30%
	
}

.header {
	text-align:center;
	font-size:70px;
	margin-top:15px;
	margin-bottom:20px;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -5px;
	

}

.author {
	text-align:left;
	color:white;
	font-style: italic;
	font-size:25px;
	margin-bottom: 50px;
	margin-top:15px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -2px;

}

/* html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */



.scroll {
  cursor: pointer;
  width: 3%;
  height: 5%;
  position: fixed;
  bottom: 10%;
  right: -80%;
  border-radius: 60%;
  background-image: lime;
  color: #fff;
  font-size: 90%;
  justify-content: center;
  line-height: -500%;
  box-shadow: 0 0 10px 0px white;
  transition: 300ms;
  display: flex;
  flex:wrap;
  font-weight: normal;
}

.scroll i {
  margin-top: 10px;
  text-shadow: 0 0 2px #fff;
}

.scroll:hover i {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {margin-top: 15px}
  to {margin-top: 5px}
}

.visible {
  right: 30px;
  transition: all 400ms;
  transform: rotate(360deg)
}





* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  

  
  .bottom-container,
  .top-container {
	width: 40vw;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 35vh;
	left: 30vw;
	padding: 1vw;
  }
  
  .bottom-container {
	color: #232323;
  }
  
  .top-container {
	background-color: lime;
	color: white;
	clip-path: circle(13% at 85% 50%);
	animation: circleMove 10s ease-in-out infinite;
  }
  
  @keyframes circleMove {
	0%, 100% {
	  clip-path: circle(13% at 85% 50%);
	}
	50% {
	  clip-path: circle(13% at 15% 50%);
	}
  }