body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 50px;
	background: lime;
	color:white;
	padding:5%;
}

@font-face {
	font-family: arow;
	src: url(fonts/AROW-Bold.otf);
}

.hello {
	color:black;
	font-weight:bold;
	font-size: 150px;
	font-family: arow;

}

@font-face {
	font-family: ark;
	src: url(fonts/ARK-ES-SolidRegular.otf);
  }

.lucinda {
	color:black;
	font-weight: bold;
	font-family: ark;
	font-size: 120px;
	
}

a {
	color: #515ada;
	font-size:30px;
	font-family: aileron;
}

.design {
	font-size: 80px;
}

.icon {
	margin-left: 1200px;
	flex:wrap;
	display: flex;
	box-shadow: 15px 15px 15px  black;
}

.gallery {
	flex:wrap;
	display:flex;
}