body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 50px;

	color:white;
	padding:5%;
}

body {
	background: linear-gradient(-45deg, #7d0ec7, #ee3b05, #0e4cbe, #e9c317);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@font-face {
	font-family: arow;
	src: url(fonts/AROW-Bold.otf);
}

.hello {
	color:white;
	font-weight:bold;
	font-size: 150%;
	font-family: arow;

}

@font-face {
	font-family: ark;
	src: url(fonts/ARK-ES-SolidRegular.otf);
  }

.lucinda {
	color:white;
	font-weight: bold;
	font-family: ark;
	font-size: 250%;
	
}


.dropbutton {
	font-size:100%;
	text-decoration: none;
	margin-top: 20%;
	padding: 10px;
	background-color:transparent;
	color:white;
	margin-bottom: 2%;
}


.dropdownbutton {
	padding: 100%;
	font-size: 100%;
	border: none;	
	background-color: transparent;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	width:100%;
	overflow:auto;
	background-color: #f1f1f1;
	min-width: 160px;
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 10px 15px;
	font-size: 25px;
	text-decoration: none;
	display: block;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background:powderblue;}
.dropdown-content a:hover {color:white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;
	cursor:pointer;
}


a {
	color: white;
	font-size:100%;
	font-family: aileron;
	text-decoration:none;
}

.design {
	font-size: 80%;
}

.icon {
	margin-left: 700px;
	flex:wrap;
	display: flex;
	border-radius: 5px;
}

.gallery {
	flex:wrap;
	display:flex;
}

.icon::before, .icon::after{
	content:"";
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: #DDE3E8;
	
	
  }
  
  span::before, span::after{
	content:"";
	width:2px;
	height:0;
	position: absolute;
	transition: all 0.2s linear;
	background: #DDE3E8;
	
  }
  .icon:hover::before, .icon:hover::after{
	width: 100%;
	
  }
  .icon:hover span::before, .icon:hover span::after{
	height: 100%;border-radius: 20px 0px 20px 0px;
  
  }
  /*----- button 1 -----*/
  .icon::before, .icon::after{
	transition-delay: 0.2s;
  }
  .icon span::before, .icon span::after{
	transition-delay: 0s; 
  }
  .icon::before{
	right: 0;
	top: 0; 
  }
  .icon::after{
	left: 0;
	bottom: 0;
	
  }
  .icon span::before{
	left: 0;
	top: 0;
  }
  .icon span::after{
	right: 0;
	bottom: 0;
  }
  .icon:hover::before, .icon:hover::after{
	transition-delay: 0s; 
  
  }
  .icon:hover span::before, .icon:hover span::after{
	transition-delay: 0.2s; 
  
  }

