body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 50px;
	background: lime;
	color:white;
	padding:5%;
}

.lucinda {
	color:black;
	font-weight:bold;
	text-decoration-line: line-through;
	

}

a {
	color: #515ada;
	font-size:30px;
}

